/****Navigation***/

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: red;
    border-bottom: 2px solid red;

}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.959);
    padding: 0 1.2rem;
}
.map {
    margin-top: 10rem;
}
.heading {
     font-family: 'Parisienne', cursive;
     color: red;
     font-size: 4rem;
}


#contact {
    background: url('../img/form4.jpeg');
    background-size: cover;
    top:0;
    left: 0; 
}


#footer {
    background: black;
    color: white;

}
