html {
  scroll-behavior: smooth;
}
/****Navigation***/
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: red;
    border-bottom: 2px solid red;
}
/****End Navigation***/

/****Start of Home***/

#home {
  background:linear-gradient(rgba(0, 0, 0, 0.774),rgba(0, 0, 0, 0.418)),url('../img/chinesebuffet.jpeg');
  background-size: cover;
  min-height: 600px;
 
}
#home .heading {
    color: red;
    padding-top: 25rem;
    opacity: .7;

}


/****End of Home***/


/****Start of Menu***/
#food-item {
  margin-top: -2.99rem;
  padding: 4.5rem;
  background:rgba(190, 182, 182, 0.7);

}
.item-description {
  font-size: .9rem;
}
.main-item {
  background: rgba(250, 9, 9, 0.7);
  color: white;
  margin-right: .7rem;


}
.items { 
  width: 35%;
  margin-right: 5rem;
  border-bottom: red 1px dashed;
margin-bottom: 1rem;
/****End of Menu***/
}

#footer {
    background: black;
    color: white;
      overflow: hidden;

}


/***Small screens **/
@media (max-width: 768px) {
  #home {
    min-height: 400px;
  }
  .menu h1 {
  font-size: 3rem;
  opacity: .5;
}
.items { 
  width: 100%;
  margin-right: 5rem;
  border-bottom: red 1px dashed;
margin-bottom: 1rem;
  }
}