
/****Navigation***/
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: red;
    border-bottom: 2px solid red;
}
/****End Navigation***/

/****Home***/
.home {

    min-height: 700px;
    color: white;
    position: relative;
    background: url('../img/momo.jpeg');
    background-size: cover;
}
.home-bg {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.5);
}

.home-pic {
    padding-top: 8rem;
}


.btn-start {
    background: red;
    color: white;
}

#home .welcome {
    color: red;
    display: block
}
/***End Home***/

/***Start About***/

.about-bg {
    padding: 8rem 0;
}

#about .heading{
    color: red;
}
/***End About***/


/***Start Special***/
.special {
    padding: 8rem 0;
    color: white;
}
.slide {
    height: 400px;
}
.pic {
    width: 100%;
    object-fit: contain;
}

.special-day h4 {
    color: red;
}



/***End Special***/


