html {
  scroll-behavior: smooth;
}
/****Navigation***/
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: red;
    border-bottom: 2px solid red;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.959);
    padding: 0 1.2rem;
}
/****End Navigation***/

/****Home***/
.home {

    min-height: 700px;
    color: white;
    position: relative;
    background: url('../img/momo.jpeg');
    background-size: cover;
}

.home-bg {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.6);
}

.home-pic {
    padding-top: 8rem;
}


.btn-start {
    background: red;
    color: white;
    font-size: 1rem;
}

#home .welcome {
    color: red;
    display: block;
    font-family: 'Parisienne', cursive;
    font-size: 4rem;

}
/***End Home***/

/***Start About***/

.about-bg {
    padding: 8rem 0;
}

.heading{
    color: red;
font-family: 'Parisienne', cursive;
font-size: 2.5rem;

}

/***End About***/




/***Start Special***/
.special {
    padding: 8rem 0;
    color: white;
    background:linear-gradient(rgba(0, 0, 0, 0.474),rgba(0, 0, 0, 0.318)),url('../img/cherries.jpeg');
    background-size: cover;
}

.slide {
    height: 400px;
    position: relative;
}
.pic {
    position: absolute;
    width: 100%;
    object-fit: cover;
    top: 0; 
    left: 0; 
    height: 100%;
}
.second {
    height: 300px;
}

.special-day h4 {
    color: red;
}
/***End Special***/

/***Conatct Start***/
#contact {
    padding: 5rem 0;
}

#contact .p-small {
    font-size: 15px;
    color: rgb(129, 122, 122);
}
/***Contact End***/

#footer {
    background: black;
    color: white;
}
